body {
    margin:0;
  }

#titles{
    position: absolute;
    left: 400px;
    top: 40px
}

#line{
    position: absolute;
    top: -60px;
    left: 180px;
    width: 940px;
    color: rgb(168, 168, 168);
}


#left-panel{
    position: fixed;
    top: 0;
    width: 20%;
    height: 100%;
    border-style: solid;
    background-color: rgb(0, 0, 0);
}

#username-dashboard-div{
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#dashboard-username{
    margin: 0; /* remove default margin from h3 */
    color: white;
}


#profile-image-dashboard{
    width: 100px;
    height: 100px;
    position: relative;
    left: 80px;
    top: 20px;
}

.panelElements{
    position: relative;
    top: 90px;
    color: aliceblue;
    padding-left: 30px;
    padding-block: 10px;
    font-size: x-large;
    cursor: pointer;
}

#elements-favorites{
    color: rgb(66,250,160);
}

#new-blog{
    position: relative;
    top: 130px;
    left: 40px;
    background-color: rgb(132, 85, 236);
    border-radius: 30px;
    height: 60px;
    border-style: none;
    width: 200px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
    padding-left: 20px;
    transition-duration: 0.4s;  
}

#new-blog:hover{
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.24),0 17px 50px 0 rgba(255, 255, 255, 0.19)
}


#pen{
    position: relative;
    top: 545px;
    left: 60px;
    width: 60px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
}

#fav-setting{
    position: relative;
    top: -50px;
    left: 80px;
    width: 35px;
    height: 35px;
    z-index: 1;
    cursor: pointer;
}

#blogAddFailed{
    position: absolute;
    left: 690px;
    top: 300px;
    border-color:rgb(255, 251, 179);
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: rgb(255, 120, 108);
    text-align: center;
}

.blogsFav{
    position: relative;
    top: 145px;
    left: 379px;
    height: 329px;
    width: 940px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
   
}

.blogsFav:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
    
}

.blogs-title{
    position: absolute;
    top: 10px;
    padding-left: 10px;
}

.blogs-summary{
    position: relative;
    padding-left: 10px;
    top: 100px;
    color: rgb(117, 117, 117);
    max-width: 520px;
    word-spacing: 5px;
}

.blogs-image-container{
    position: absolute;
    left: 610px;
    top:50px;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.blogs-end{
    position:absolute;
    left: -198px;
    width: 940px;
    top: 140px;
    color: rgb(168, 168, 168);
}

.favs-blogs-username-a{
    color: inherit;
    text-decoration: none;
}

.favs-blogs-username-a:hover{
    text-decoration: underline;
}

#blogs-preview-btn{
    border-radius: 10px;
    border-style: solid;
    width: 70px;
    height: 40px;
    background-color: rgb(125, 87, 228);
    position: absolute;
    top: 270px;
    left: 295px;
    cursor: pointer;
    border-width: 0px;
}

#blogs-edit-btn{
    border-radius: 10px;
    border-style: solid;
    width: 70px;
    height: 40px;
    background-color: rgb(125, 87, 228);
    position: absolute;
    top: 270px;
    left: 370px;
    cursor: pointer;
    font-size: 16px;
    border-width: 0px;
}



#blogs-delete-btn{
    border-radius: 10px;
    border-style: solid;
    width: 70px;
    height: 40px;
    background-color: rgb(255, 91, 91);
    position: absolute;
    top: 270px;
    left: 445px;
    cursor: pointer;
    font-size: 16px;
    border-width: 0px;
}

#blogs-createdAt{
    position: absolute;
    left: 835px;
    top: 1px;
    color: rgb(88, 88, 88);
}

#blogs-username{
    position: absolute;
    top: 262px;
    left: 60px;
}

#blogs-username-pic{
    position: absolute;
    width: 40px;
    height: 40px;
    top: 270px;
    left: 10px;
}

#isPublicblog{
    position: absolute;
    left: 730px;
    top: 275px;
    border-radius: 8px;
    background-color: rgb(138, 255, 150);
    height: 30px;
    width: 75px;
    text-align: center;
    
}

#isPublicText{
    margin: 0;
    font-size: 14px;
    position: absolute;
    text-align: center;
    padding-left: 14px;
    top:6px
}

#noBlogs{
    position: absolute;
    left: 690px;
    top: 300px;
    border-color:rgb(255, 251, 179);
    border-style: solid;
    border-radius: 10px;
    width: 300px;
    height: 60px;
    background-color: rgb(168, 168, 168);
    text-align: center;
}