#password-back{
    position: absolute;
    left: 350px;
    top: 40px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#password-header{
    position: relative;
    left: 360px;
    top: 80px
}

#passwordINP{
    position: relative;
    left: 350px;
    top: 70px;
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: rgb(255, 251, 179);
    width: 1010px;
    height: 35px;
    padding-left: 10px;
    transition-duration: 0.4s;
}

#passwordINP:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#passwordINP:focus{
    outline: none;
}

#current-passwordINP{
    position: relative;
    left: 350px;
    top: 80px;
    border-color: black;
    border-radius: 6px;
    border-style: solid;
    background-color: rgb(255, 251, 179);
    width: 1010px;
    height: 35px;
    padding-left: 10px;
    transition-duration: 0.4s;
}

#current-passwordINP:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

#current-passwordINP:focus{
    outline: none;
}

#Password-btnDone{
    position: relative;
    left: -200px;
    top: 150px;
    height: 35px;
    width: 80px;
    border-radius: 8px;
    border-style: solid;
    background-color: black;
    color: white;
    font-weight: -10px;
    cursor: pointer;
}